volumes:
    langgraph-data:
        driver: local

# See scripts/langgraph/build.ba.sh
# SRC: https://docs.langchain.com/langsmith/deploy-standalone-server#docker-compose
services:
  langgraph-redis:
      image: redis:6
      healthcheck:
          test: redis-cli ping
          interval: 5s
          timeout: 1s
          retries: 5

  langgraph-postgres:
      image: postgres:16
      ports:
          - 5432:5432
      environment:
          POSTGRES_DB: postgres
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
      volumes:
          - langgraph-data:/var/lib/postgresql/data
      healthcheck:
          test: pg_isready -U postgres
          start_period: 10s
          timeout: 1s
          retries: 5
          interval: 5s

  langgraph-api:
    image: ${IMAGE}
    depends_on:
        langgraph-redis:
            condition: service_healthy
        langgraph-postgres:
            condition: service_healthy
    ports:
      - 8123:8000
    env_file:
      - .env
    environment:
        REDIS_URI: redis://langgraph-redis:6379
        LANGSMITH_API_KEY: ${LANGSMITH_API_KEY}
        DATABASE_URI: postgres://postgres:postgres@langgraph-postgres:5432/postgres?sslmode=disable

  a2a-inspector:
    build:
      context: ./submodules/a2a-inspector
    ports:
      - 5001:8080
    depends_on:
      - langgraph-api
