[tasks]
    [tasks.clean]
        help = "Clean the project"
        cmd = "uvx pyclean src"

    [tasks.ruff_format]
        help = "format codebase with ruff"
        cmd = "ruff format ./src ./tests"

    [tasks.ruff_check-fix]
        help = "fix codebase with ruff"
        cmd = "ruff check --fix ./src ./tests"
    [tasks.ruff_check]
        help = "lint codebase with ruff"
        cmd = "ruff check ./src ./tests"

    [tasks.uv-sort]
        help = "fixes order of imports"
        cmd = "uv run uv-sort"

    [tasks.uv-sort_check]
        help = "Checks if uv-sort was fixed"
        cmd = "uv run uv-sort --check"

    [tasks.pyright]
        help = "Checks type hints with pyright"
        cmd = "uv run pyright --warnings"

    [tasks.mypy]
        help = "Checks type hints with mypy"
        cmd = "uv run mypy --strict ./src"


    [tasks.terraform_init]
    help = "Initialize terraform"
    cmd = "terraform -chdir=./terra init -input=false -upgrade"

    [tasks.terraform_validate]
    help = "Validate terraform"
    cmd = "terraform -chdir=./terra validate"

    [tasks.terraform_fmt]
    help = "Format terraform files"
    cmd = "terraform -chdir=./terra fmt"

    [tasks.terraform_fmt_check]
    help = "Check terraform formatting"
    cmd = "terraform -chdir=./terra fmt -check -recursive -diff -list=true"

    [tasks.terraform_update_plan]
    help = "Update terraform plan"
    args = [
        {name = "var_file", help = "The terraform var file to use", default = "./env/dev.tfvars"}
    ]
    cmd = "terraform -chdir=./terra plan -var-file=${var_file} -out ./dist/apply.tfplan"

    [tasks.terraform_update_apply]
    help = "Apply terraform plan"
    cmd = "terraform -chdir=./terra apply ./dist/apply.tfplan"

    [tasks.terraform_destroy_plan]
    help = "Create terraform destroy plan"
    args = [
        {name = "var_file", help = "The terraform var file to use", default = "./env/dev.tfvars"}
    ]
    cmd = "terraform -chdir=./terra plan -destroy -var-file=${var_file} -out ./dist/destroy.tfplan"

    [tasks.terraform_destroy_apply]
    help = "Apply terraform destroy plan"
    cmd = "terraform -chdir=./terra apply -destroy ./dist/destroy.tfplan"


    [tasks.helm_lint]
    help = "Lint helm charts"
    cmd = "helm lint --strict ./helm"


    [tasks.lint_python]
        help = "Checks linting"
        sequence = ["uv-sort_check", "ruff_check", "pyright", "mypy"]

    [tasks.lint_all]
        help = "Checks linting"
        sequence = ["lint_python", "terraform_fmt_check", "helm_lint"]

    [tasks.lint]
        help = "lint alias"
        sequence = ["lint_python"]

    [tasks.format_python]
        help = "Reformat"
        sequence = ["uv-sort", "ruff_format", "ruff_check-fix", "lint_python"]

    [tasks.format_all]
        help = "Reformat"
        sequence = ["uv-sort", "ruff_format", "ruff_check-fix", "terraform_fmt", "lint_all"]

    [tasks.format]
        help = "format alias"
        sequence = ["format_python"]


    [tasks.test]
        help = "Run tests"
        cmd = "pytest tests/unit_tests/"

    [tasks.dev]
    help = "Run the development tasks"
    sequence = ["clean", "format", "test"]


    [tasks.build]
    help = "Build the project"
    cmd = "uv build --all-packages --wheel"

    [tasks.sync_all]
    help = "uv sync everything"
    cmd = "uv sync --locked --all-groups"

    [tasks.sync_release]
    help = "uv sync release"
    cmd = "uv sync --locked"

    [tasks.sync]
    help = "sync all alias"
    sequence = ["sync_all"]


    [tasks.ci]
    help = "Run the CI pipeline tasks"
    sequence = ["sync_all", "lint", "test", "build"]
