name: terraform validate

on:
  workflow_dispatch: # Allows triggering the workflow manually in GitHub UI
  pull_request:
    paths:
      - terra/**


# If another push to the same PR or branch happens while this workflow is still running,
# cancel the earlier run in favor of the next run.
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  terraform_validate:
    uses: ./.github/workflows/terraform_ci.yml
