name: helm lint

on:
  workflow_call: # SRC: https://docs.github.com/en/actions/using-workflows/reusing-workflows


# If another push to the same PR or branch happens while this workflow is still running,
# cancel the earlier run in favor of the next run.
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  helm_lint:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: ./.github/actions/helm_setup
      - uses: ./.github/actions/helm_lint
